= render './top_menu'
.row
  .column.medium-4.medium-centered
    %h2.page-title.text-centered Editing department

    = render 'form'

    = link_to 'Show', @department
    \|
    = link_to 'Back', departments_path
