.logo-devise {
  padding: 2rem 0 4rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.page-title {
  padding: 2rem 0 3rem;
}

body > footer {
  padding: 6rem 0 0;
}

.admin-menu {
  .menu > li > a {
    color: #85282D;
  }

  .active > a {
    background: #E4D3BE;
  }
}

.highlight-hover-row {
  tr:hover {
    background: #D4DCE8 !important;
  }
}
