// Place all the styles related to the Timelogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#timelogs_edit {
  form input[type="text"] {
    width: 8rem;
  }
}

#timelogs-assistance {
  form#report-params {
    padding: 0 0 5rem;

    input[type="date"], select {
      width: 12rem;
    }

    table, tbody, tr {
      background: none;
      border: none;
    }

    td {
      padding: .3rem 0 .3rem;
    }
  }
}

#timelogs-reported-errors {
  tr {
    background: none;
  }


  .timelog-status-approved {
    background: #EBF2E7;
  }

  .timelog-status-declined {
    background: #EDDFDB;
  }
}
